// --- Icons ---

// Person icons
.ryan-icon {
	background-image: url(../images/headshots/ryan.jpg);
}
.drew-icon {
	background-image: url(../images/headshots/drew.jpg);
}
.kristen-icon {
	background-image: url(../images/headshots/kristen.jpg);
}
.christopher-icon {
	background-image: url(../images/headshots/christopher.jpg);
}
.adam-icon {
	background-image: url(../images/headshots/adam.jpg);
}
.adeel-icon {
	background-image: url(../images/headshots/adeel.jpg);
}
.alex-icon {
	background-image: url(../images/headshots/alex.jpg);
}
.amanda-icon {
	background-image: url(../images/headshots/amanda.jpg);
}
.anya-icon {
	background-image: url(../images/headshots/anya.jpg);
}
.christinaf-icon {
	background-image: url(../images/headshots/christinaf.jpg);
}
.christinag-icon {
	background-image: url(../images/headshots/christinag.jpg);
}
.evan-icon {
	background-image: url(../images/headshots/evan.jpg);
}
.francis-icon {
	background-image: url(../images/headshots/francis.jpg);
}
.ivy-icon {
	background-image: url(../images/headshots/ivy.jpg);
}
.james-icon {
	background-image: url(../images/headshots/james.jpg);
}
.jeanne-icon {
	background-image: url(../images/headshots/jeanne.jpg);
}
.jessicaj-icon {
	background-image: url(../images/headshots/jessicaj.jpg);
}
.jessicat-icon {
	background-image: url(../images/headshots/jessicat2.jpg);
}
.jo-icon {
	background-image: url(../images/headshots/jo.jpg);
}
.joanne-icon {
	background-image: url(../images/headshots/joanne.jpg);
}
.john-icon {
	background-image: url(../images/headshots/john.jpg);
}
.laura-icon {
	background-image: url(../images/headshots/laura.jpg);
}
.lee-icon {
	background-image: url(../images/headshots/lee.jpg);
}
.miguel-icon {
	background-image: url(../images/headshots/miguel.jpg);
}
.nadia-icon {
	background-image: url(../images/headshots/nadia.jpg);
}
.robin-icon {
	background-image: url(../images/headshots/robin.jpg);
}
.tarah-icon {
	background-image: url(../images/headshots/tarah.jpg);
}
.tim-icon {
	background-image: url(../images/headshots/tim.jpg);
}
.vesna-icon {
	background-image: url(../images/headshots/vesna.jpg);
}
.yana-icon {
	background-image: url(../images/headshots/yana.jpg);
}

// Silly icons
.hat-icon {
	background-image: url(../images/silly/hats/hat1.png);
}
.eye-icon {
	background-image: url(../images/silly/eyes/eye1.png);
}
.nose-icon {
	background-image: url(../images/silly/noses/nose1.png);
}
.mouth-icon {
	background-image: url(../images/silly/mouths/mouth2.png);
}
.hair-icon {
	background-image: url(../images/silly/hair/hair1.png);
}
.facial-hair-icon {
	background-image: url(../images/silly/facial-hair/facial-hair1.png);
}
.hand-icon {
	background-image: url(../images/silly/hands/hand1.png);
}
.accessories-icon {
	background-image: url(../images/silly/accessories/accessory1.png);
}
.items-icon {
	background-image: url(../images/silly/items/item1.png);
}