// Person parts
.ryan-reye {
	background-image: url(../images/ryan/ryan-right-eye.png);
}
.ryan-leye {
	background-image: url(../images/ryan/ryan-left-eye.png);
}
.ryan-nose {
	background-image: url(../images/ryan/ryan-nose.png);
}
.ryan-mouth {
	background-image: url(../images/ryan/ryan-mouth.png);
}

.drew-reye {
	background-image: url(../images/drew/drew-eye-right.png);
}
.drew-leye {
	background-image: url(../images/drew/drew-eye-left.png);
}
.drew-nose {
	background-image: url(../images/drew/drew-nose.png);
}
.drew-beard {
	background-image: url(../images/drew/drew-beard.png);
}

.kristen-reye {
	background-image: url(../images/kristen/kristen-eye-right.png);
}
.kristen-leye {
	background-image: url(../images/kristen/kristen-eye-left.png);
}
.kristen-nose {
	background-image: url(../images/kristen/kristen-nose.png);
}

.christopher-reye {
	background-image: url(../images/christopher/christopher-eye-right.png);
}
.christopher-leye {
	background-image: url(../images/christopher/christopher-eye-left.png);
}
.christopher-nose {
	background-image: url(../images/christopher/christopher-nose.png);
}
.christopher-mouth {
	background-image: url(../images/christopher/christopher-mouth.png);
}

.adam-reye {
	background-image: url(../images/adam/adam-right-eye.png);
}
.adam-leye {
	background-image: url(../images/adam/adam-left-eye.png);
}
.adam-nose {
	background-image: url(../images/adam/adam-nose.png);
}
.adam-mouth {
	background-image: url(../images/adam/adam-mouth.png);
}


.adeel-eye {
	background-image: url(../images/adeel/adeel-eyes.png);
}
.adeel-nose {
	background-image: url(../images/adeel/adeel-nose.png);
}
.adeel-mouth {
	background-image: url(../images/adeel/adeel-mouth.png);
}

.alex-reye {
	background-image: url(../images/alex/alex-right-eye.png);
}
.alex-leye {
	background-image: url(../images/alex/alex-left-eye.png);
}
.alex-nose {
	background-image: url(../images/alex/alex-nose.png);
}
.alex-mouth {
	background-image: url(../images/alex/alex-mouth.png);
}


.amanda-reye {
	background-image: url(../images/amanda/amanda-right-eye.png);
}
.amanda-leye {
	background-image: url(../images/amanda/amanda-left-eye.png);
}
.amanda-nose {
	background-image: url(../images/amanda/amanda-nose.png);
}
.amanda-mouth {
	background-image: url(../images/amanda/amanda-mouth.png);
}

.anya-reye {
	background-image: url(../images/anya/anya-right-eye.png);
}
.anya-leye {
	background-image: url(../images/anya/anya-left-eye.png);
}
.anya-nose {
	background-image: url(../images/anya/anya-nose.png);
}
.anya-mouth {
	background-image: url(../images/anya/anya-mouth.png);
}

.christinaf-reye {
	background-image: url(../images/christinaf/christinaf-right-eye.png);
}
.christinaf-leye {
	background-image: url(../images/christinaf/christinaf-left-eye.png);
}
.christinaf-nose {
	background-image: url(../images/christinaf/christinaf-nose.png);
}
.christinaf-mouth {
	background-image: url(../images/christinaf/christinaf-mouth.png);
}

.christinag-reye {
	background-image: url(../images/christinag/christinag-eye-right.png);
}
.christinag-leye {
	background-image: url(../images/christinag/christinag-eye-left.png);
}
.christinag-nose {
	background-image: url(../images/christinag/christinag-nose.png);
}
.christinag-mouth {
	background-image: url(../images/christinag/christinag-mouth.png);
}

.evan-reye {
	background-image: url(../images/evan/evan-right-eye.png);
}
.evan-leye {
	background-image: url(../images/evan/evan-left-eye.png);
}
.evan-nose {
	background-image: url(../images/evan/evan-nose.png);
}
.evan-mouth {
	background-image: url(../images/evan/evan-mouth.png);
}

.francis-reye {
	background-image: url(../images/francis/francis-right-eye.png);
}
.francis-leye {
	background-image: url(../images/francis/francis-left-eye.png);
}
.francis-nose {
	background-image: url(../images/francis/francis-nose.png);
}
.francis-mouth {
	background-image: url(../images/francis/francis-mouth.png);
}

.ivy-reye {
	background-image: url(../images/ivy/ivy-right-eye.png);
}
.ivy-leye {
	background-image: url(../images/ivy/ivy-left-eye.png);
}
.ivy-nose {
	background-image: url(../images/ivy/ivy-nose.png);
}
.ivy-mouth {
	background-image: url(../images/ivy/ivy-mouth.png);
}


.james-reye {
	background-image: url(../images/james/james-eye-right.png);
}
.james-leye {
	background-image: url(../images/james/james-eye-left.png);
}
.james-nose {
	background-image: url(../images/james/james-nose.png);
}
.james-mouth {
	background-image: url(../images/james/james-mouth.png);
}
.james-hair {
	background-image: url(../images/james/james-hair.png);
}

.jeanne-reye {
	background-image: url(../images/jeanne/jeanne-right-eye.png);
}
.jeanne-leye {
	background-image: url(../images/jeanne/jeanne-left-eye.png);
}
.jeanne-nose {
	background-image: url(../images/jeanne/jeanne-nose.png);
}
.jeanne-mouth {
	background-image: url(../images/jeanne/jeanne-mouth.png);
}


.jessicaj-reye {
	background-image: url(../images/jessicaj/jessicaj-right-eye.png);
}
.jessicaj-leye {
	background-image: url(../images/jessicaj/jessicaj-left-eye.png);
}
.jessicaj-nose {
	background-image: url(../images/jessicaj/jessicaj-nose.png);
}
.jessicaj-mouth {
	background-image: url(../images/jessicaj/jessicaj-mouth.png);
}

.jessicat-reye {
	background-image: url(../images/jessicat/jessicat-right-eye.png);
}
.jessicat-leye {
	background-image: url(../images/jessicat/jessicat-left-eye.png);
}
.jessicat-nose {
	background-image: url(../images/jessicat/jessicat-nose.png);
}
.jessicat-mouth {
	background-image: url(../images/jessicat/jessicat-mouth.png);
}

.jo-reye {
	background-image: url(../images/jo/jo-right-eye.png);
}
.jo-leye {
	background-image: url(../images/jo/jo-left-eye.png);
}
.jo-nose {
	background-image: url(../images/jo/jo-nose.png);
}
.jo-mouth {
	background-image: url(../images/jo/jo-mouth.png);
}

.joanne-eye {
	background-image: url(../images/joanne/joanne-eyes.png);
}
.joanne-nose {
	background-image: url(../images/joanne/joanne-nose.png);
}
.joanne-mouth {
	background-image: url(../images/joanne/joanne-mouth.png);
}

.john-reye {
	background-image: url(../images/john/john-right-eye.png);
}
.john-leye {
	background-image: url(../images/john/john-left-eye.png);
}
.john-nose {
	background-image: url(../images/john/john-nose.png);
}
.john-mouth {
	background-image: url(../images/john/john-mouth.png);
}

.laura-reye {
	background-image: url(../images/laura/laura-right-eye.png);
}
.laura-leye {
	background-image: url(../images/laura/laura-left-eye.png);
}
.laura-nose {
	background-image: url(../images/laura/laura-nose.png);
}
.laura-mouth {
	background-image: url(../images/laura/laura-mouth.png);
}

.lee-eye {
	background-image: url(../images/lee/lee-eyes.png);
}
.lee-nose {
	background-image: url(../images/lee/lee-nose.png);
}
.lee-mouth {
	background-image: url(../images/lee/lee-mouth.png);
}

.miguel-eye {
	background-image: url(../images/miguel/miguel-eyes.png);
}
.miguel-nose {
	background-image: url(../images/miguel/miguel-nose.png);
}
.miguel-mouth {
	background-image: url(../images/miguel/miguel-mouth.png);
}

.nadia-reye {
	background-image: url(../images/nadia/nadia-right-eye.png);
}
.nadia-leye {
	background-image: url(../images/nadia/nadia-left-eye.png);
}
.nadia-nose {
	background-image: url(../images/nadia/nadia-nose.png);
}
.nadia-mouth {
	background-image: url(../images/nadia/nadia-mouth.png);
}

.lee-reye {
	background-image: url(../images/lee/lee-right-eye.png);
}
.lee-leye {
	background-image: url(../images/lee/lee-left-eye.png);
}
.lee-nose {
	background-image: url(../images/lee/lee-nose.png);
}
.lee-mouth {
	background-image: url(../images/lee/lee-mouth.png);
}

.robin-reye {
	background-image: url(../images/robin/robin-right-eye.png);
}
.robin-leye {
	background-image: url(../images/robin/robin-left-eye.png);
}
.robin-nose {
	background-image: url(../images/robin/robin-nose.png);
}
.robin-mouth {
	background-image: url(../images/robin/robin-mouth.png);
}

.tarah-reye {
	background-image: url(../images/tarah/tarah-right-eye.png);
}
.tarah-leye {
	background-image: url(../images/tarah/tarah-left-eye.png);
}
.tarah-nose {
	background-image: url(../images/tarah/tarah-nose.png);
}
.tarah-mouth {
	background-image: url(../images/tarah/tarah-mouth.png);
}

.tim-reye {
	background-image: url(../images/tim/tim-right-eye.png);
}
.tim-leye {
	background-image: url(../images/tim/tim-left-eye.png);
}
.tim-nose {
	background-image: url(../images/tim/tim-nose.png);
}
.tim-mouth {
	background-image: url(../images/tim/tim-mouth.png);
}

.vesna-reye {
	background-image: url(../images/vesna/vesna-right-eye.png);
}
.vesna-leye {
	background-image: url(../images/vesna/vesna-left-eye.png);
}
.vesna-nose {
	background-image: url(../images/vesna/vesna-nose.png);
}
.vesna-mouth {
	background-image: url(../images/vesna/vesna-mouth.png);
}

.yana-reye {
	background-image: url(../images/yana/yana-right-eye.png);
}
.yana-leye {
	background-image: url(../images/yana/yana-left-eye.png);
}
.yana-nose {
	background-image: url(../images/yana/yana-nose.png);
}
.yana-mouth {
	background-image: url(../images/yana/yana-mouth.png);
}

// Silly parts

// Hats

.hat1 {
	background-image: url(../images/silly/hats/hat1.png);
}
.hat2 {
	background-image: url(../images/silly/hats/hat2.png);
}
.hat3 {
	background-image: url(../images/silly/hats/hat3.png);
}
.hat4 {
	background-image: url(../images/silly/hats/hat4.png);
}
.hat5 {
	background-image: url(../images/silly/hats/hat5.png);
}
.hat6 {
	background-image: url(../images/silly/hats/hat6.png);
}

// Eyes
.eye1 {
	background-image: url(../images/silly/eyes/eye1.png);
}
.eye2 {
	background-image: url(../images/silly/eyes/eye2.png);
}
.eye3 {
	background-image: url(../images/silly/eyes/eye3.png);
}
.eye4 {
	background-image: url(../images/silly/eyes/eye4.png);
}
.eye5 {
	background-image: url(../images/silly/eyes/eye5.png);
}
.eye6 {
	background-image: url(../images/silly/eyes/eye6.png);
}

// Noses
.nose1 {
	background-image: url(../images/silly/noses/nose1.png);
}
.nose2 {
	background-image: url(../images/silly/noses/nose2.png);
}
.nose3 {
	background-image: url(../images/silly/noses/nose3.png);
}
.nose4 {
	background-image: url(../images/silly/noses/nose4.png);
}
.nose5 {
	background-image: url(../images/silly/noses/nose5.png);
}
.nose6 {
	background-image: url(../images/silly/noses/nose6.png);
}

// Mouths

.mouth1 {
	background-image: url(../images/silly/mouths/mouth1.png);
}
.mouth2 {
	background-image: url(../images/silly/mouths/mouth2.png);
}
.mouth3 {
	background-image: url(../images/silly/mouths/mouth3.png);
}
.mouth4 {
	background-image: url(../images/silly/mouths/mouth4.png);
}
.mouth5 {
	background-image: url(../images/silly/mouths/mouth5.png);
}
.mouth6 {
	background-image: url(../images/silly/mouths/mouth6.png);
}

// Hair

.hair1 {
	background-image: url(../images/silly/hair/hair1.png);
}
.hair2 {
	background-image: url(../images/silly/hair/hair2.png);
}
.hair3 {
	background-image: url(../images/silly/hair/hair3.png);
}
.hair4 {
	background-image: url(../images/silly/hair/hair4.png);
}
.hair5 {
	background-image: url(../images/silly/hair/hair5.png);
}
.hair6 {
	background-image: url(../images/silly/hair/hair6.png);
}

// Hands

.hand1 {
	background-image: url(../images/silly/hands/hand1.png);
}
.hand2 {
	background-image: url(../images/silly/hands/hand2.png);
}
.hand3 {
	background-image: url(../images/silly/hands/hand3.png);
}
.hand4 {
	background-image: url(../images/silly/hands/hand4.png);
}
.hand5 {
	background-image: url(../images/silly/hands/hand5.png);
}
.hand6 {
	background-image: url(../images/silly/hands/hand6.png);
}

// Accessories
.accessories1 {
	background-image: url(../images/silly/accessories/accessory1.png);
}
.accessories2 {
	background-image: url(../images/silly/accessories/accessory2.png);
}
.accessories3 {
	background-image: url(../images/silly/accessories/accessory3.png);
}
.accessories4 {
	background-image: url(../images/silly/accessories/accessory4.png);
}
.accessories5 {
	background-image: url(../images/silly/accessories/accessory5.png);
}
.accessories6 {
	background-image: url(../images/silly/accessories/accessory6.png);
}