// Person parts
.ryan-reye {

}

.drew-reye {
	background-image: url(../images/drew/drew-eye-right.png);
}
.drew-leye {
	background-image: url(../images/drew/drew-eye-left.png);
}
.drew-nose {
	background-image: url(../images/drew/drew-nose.png);
}
.drew-beard {
	background-image: url(../images/drew/drew-beard.png);
}

.kristen-reye {
	background-image: url(../images/kristen/kristen-eye-right.png);
}
.kristen-leye {
	background-image: url(../images/kristen/kristen-eye-left.png);
}
.kristen-nose {
	background-image: url(../images/kristen/kristen-nose.png);
}

.christopher-reye {
	background-image: url(../images/christopher/christopher-eye-right.png);
}
.christopher-leye {
	background-image: url(../images/christopher/christopher-eye-left.png);
}
.christopher-nose {
	background-image: url(../images/christopher/christopher-nose.png);
}
.christopher-mouth {
	background-image: url(../images/christopher/christopher-mouth.png);
}

.james-reye {
	background-image: url(../images/james/james-eye-right.png);
}
.james-leye {
	background-image: url(../images/james/james-eye-left.png);
}
.james-nose {
	background-image: url(../images/james/james-nose.png);
}
.james-mouth {
	background-image: url(../images/james/james-mouth.png);
}
.james-hair {
	background-image: url(../images/james/james-hair.png);
}



// Silly parts

// Hats

.hat1 {
	background-image: url(../images/silly/hats/hat1.png);
}
.hat2 {
	background-image: url(../images/silly/hats/hat2.png);
}
.hat3 {
	background-image: url(../images/silly/hats/hat3.png);
}
.hat4 {
	background-image: url(../images/silly/hats/hat4.png);
}
.hat5 {
	background-image: url(../images/silly/hats/hat5.png);
}
.hat6 {
	background-image: url(../images/silly/hats/hat6.png);
}

// Eyes
.eye1 {
	background-image: url(../images/silly/eyes/eye1.png);
}
.eye2 {
	background-image: url(../images/silly/eyes/eye2.png);
}
.eye3 {
	background-image: url(../images/silly/eyes/eye3.png);
}
.eye4 {
	background-image: url(../images/silly/eyes/eye4.png);
}
.eye5 {
	background-image: url(../images/silly/eyes/eye5.png);
}
.eye6 {
	background-image: url(../images/silly/eyes/eye6.png);
}

// Noses
.nose1 {
	background-image: url(../images/silly/noses/nose1.png);
}
.nose2 {
	background-image: url(../images/silly/noses/nose2.png);
}
.nose3 {
	background-image: url(../images/silly/noses/nose3.png);
}
.nose4 {
	background-image: url(../images/silly/noses/nose4.png);
}
.nose5 {
	background-image: url(../images/silly/noses/nose5.png);
}
.nose6 {
	background-image: url(../images/silly/noses/nose6.png);
}

// Mouths

.mouth1 {
	background-image: url(../images/silly/mouths/mouth1.png);
}
.mouth2 {
	background-image: url(../images/silly/mouths/mouth2.png);
}
.mouth3 {
	background-image: url(../images/silly/mouths/mouth3.png);
}
.mouth4 {
	background-image: url(../images/silly/mouths/mouth4.png);
}
.mouth5 {
	background-image: url(../images/silly/mouths/mouth5.png);
}
.mouth6 {
	background-image: url(../images/silly/mouths/mouth6.png);
}

// Hair

.hair1 {
	background-image: url(../images/silly/hair/hair1.png);
}
.hair2 {
	background-image: url(../images/silly/hair/hair2.png);
}
.hair3 {
	background-image: url(../images/silly/hair/hair3.png);
}
.hair4 {
	background-image: url(../images/silly/hair/hair4.png);
}
.hair5 {
	background-image: url(../images/silly/hair/hair5.png);
}
.hair6 {
	background-image: url(../images/silly/hair/hair6.png);
}

// Hands

.hand1 {
	background-image: url(../images/silly/hands/hand1.png);
}
.hand2 {
	background-image: url(../images/silly/hands/hand2.png);
}
.hand3 {
	background-image: url(../images/silly/hands/hand3.png);
}
.hand4 {
	background-image: url(../images/silly/hands/hand4.png);
}
.hand5 {
	background-image: url(../images/silly/hands/hand5.png);
}
.hand6 {
	background-image: url(../images/silly/hands/hand6.png);
}

// Accessories
.accessories1 {
	background-image: url(../images/silly/accessories/accessory1.png);
}
.accessories2 {
	background-image: url(../images/silly/accessories/accessory2.png);
}
.accessories3 {
	background-image: url(../images/silly/accessories/accessory3.png);
}
.accessories4 {
	background-image: url(../images/silly/accessories/accessory4.png);
}
.accessories5 {
	background-image: url(../images/silly/accessories/accessory5.png);
}
.accessories6 {
	background-image: url(../images/silly/accessories/accessory6.png);
}