.tuber1 {
	background: url(../images/tubers/potato.png) center no-repeat;
	background-size: contain;

}
.tuber2 {
	background: url(../images/tubers/yam.png) center no-repeat;
	background-size: contain;
}
.tuber3 {
	background: url(../images/tubers/jicama.png) center no-repeat;
	background-size: contain;
}
.tuber4 {
	background: url(../images/tubers/taro.png) center no-repeat;
	background-size: contain;
}
.tuber5 {
	background: url(../images/tubers/artichoke.png) center no-repeat;
	background-size: contain;
}
.tuber6 {
	background: url(../images/tubers/ubeyam.png) center no-repeat;
	background-size: contain;
}
.tuber7 {
	background: url(../images/tubers/cassava.png) center no-repeat;
	background-size: contain;
}
.tuber8 {
	background: url(../images/tubers/potato2.png) center no-repeat;
	background-size: contain;
}