article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* End of setup styles */
.drew-reye {
  background-image: url(../images/drew/drew-eye-right.png);
}

.drew-leye {
  background-image: url(../images/drew/drew-eye-left.png);
}

.drew-nose {
  background-image: url(../images/drew/drew-nose.png);
}

.drew-beard {
  background-image: url(../images/drew/drew-beard.png);
}

.kristen-reye {
  background-image: url(../images/kristen/kristen-eye-right.png);
}

.kristen-leye {
  background-image: url(../images/kristen/kristen-eye-left.png);
}

.kristen-nose {
  background-image: url(../images/kristen/kristen-nose.png);
}

.christopher-reye {
  background-image: url(../images/christopher/christopher-eye-right.png);
}

.christopher-leye {
  background-image: url(../images/christopher/christopher-eye-left.png);
}

.christopher-nose {
  background-image: url(../images/christopher/christopher-nose.png);
}

.christopher-mouth {
  background-image: url(../images/christopher/christopher-mouth.png);
}

.james-reye {
  background-image: url(../images/james/james-eye-right.png);
}

.james-leye {
  background-image: url(../images/james/james-eye-left.png);
}

.james-nose {
  background-image: url(../images/james/james-nose.png);
}

.james-mouth {
  background-image: url(../images/james/james-mouth.png);
}

.james-hair {
  background-image: url(../images/james/james-hair.png);
}

.hat1 {
  background-image: url(../images/silly/hats/hat1.png);
}

.hat2 {
  background-image: url(../images/silly/hats/hat2.png);
}

.hat3 {
  background-image: url(../images/silly/hats/hat3.png);
}

.hat4 {
  background-image: url(../images/silly/hats/hat4.png);
}

.hat5 {
  background-image: url(../images/silly/hats/hat5.png);
}

.hat6 {
  background-image: url(../images/silly/hats/hat6.png);
}

.eye1 {
  background-image: url(../images/silly/eyes/eye1.png);
}

.eye2 {
  background-image: url(../images/silly/eyes/eye2.png);
}

.eye3 {
  background-image: url(../images/silly/eyes/eye3.png);
}

.eye4 {
  background-image: url(../images/silly/eyes/eye4.png);
}

.eye5 {
  background-image: url(../images/silly/eyes/eye5.png);
}

.eye6 {
  background-image: url(../images/silly/eyes/eye6.png);
}

.nose1 {
  background-image: url(../images/silly/noses/nose1.png);
}

.nose2 {
  background-image: url(../images/silly/noses/nose2.png);
}

.nose3 {
  background-image: url(../images/silly/noses/nose3.png);
}

.nose4 {
  background-image: url(../images/silly/noses/nose4.png);
}

.nose5 {
  background-image: url(../images/silly/noses/nose5.png);
}

.nose6 {
  background-image: url(../images/silly/noses/nose6.png);
}

.mouth1 {
  background-image: url(../images/silly/mouths/mouth1.png);
}

.mouth2 {
  background-image: url(../images/silly/mouths/mouth2.png);
}

.mouth3 {
  background-image: url(../images/silly/mouths/mouth3.png);
}

.mouth4 {
  background-image: url(../images/silly/mouths/mouth4.png);
}

.mouth5 {
  background-image: url(../images/silly/mouths/mouth5.png);
}

.mouth6 {
  background-image: url(../images/silly/mouths/mouth6.png);
}

.hair1 {
  background-image: url(../images/silly/hair/hair1.png);
}

.hair2 {
  background-image: url(../images/silly/hair/hair2.png);
}

.hair3 {
  background-image: url(../images/silly/hair/hair3.png);
}

.hair4 {
  background-image: url(../images/silly/hair/hair4.png);
}

.hair5 {
  background-image: url(../images/silly/hair/hair5.png);
}

.hair6 {
  background-image: url(../images/silly/hair/hair6.png);
}

.hand1 {
  background-image: url(../images/silly/hands/hand1.png);
}

.hand2 {
  background-image: url(../images/silly/hands/hand2.png);
}

.hand3 {
  background-image: url(../images/silly/hands/hand3.png);
}

.hand4 {
  background-image: url(../images/silly/hands/hand4.png);
}

.hand5 {
  background-image: url(../images/silly/hands/hand5.png);
}

.hand6 {
  background-image: url(../images/silly/hands/hand6.png);
}

.accessories1 {
  background-image: url(../images/silly/accessories/accessory1.png);
}

.accessories2 {
  background-image: url(../images/silly/accessories/accessory2.png);
}

.accessories3 {
  background-image: url(../images/silly/accessories/accessory3.png);
}

.accessories4 {
  background-image: url(../images/silly/accessories/accessory4.png);
}

.accessories5 {
  background-image: url(../images/silly/accessories/accessory5.png);
}

.accessories6 {
  background-image: url(../images/silly/accessories/accessory6.png);
}

body {
  background: url(../images/white-grunge.jpg);
}

.menu {
  margin-top: 5vh;
}

.menu h2 {
  text-transform: uppercase;
  font-size: 16px;
}

.icon {
  width: 100px;
  height: 100px;
  margin: 5px 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.person-icon {
  border-radius: 50%;
}

.ryan-icon {
  background-image: url(../images/headshots/ryan.jpg);
}

.drew-icon {
  background-image: url(../images/headshots/drew.jpg);
}

.kristen-icon {
  background-image: url(../images/headshots/kristen.jpg);
}

.christopher-icon {
  background-image: url(../images/headshots/christopher.jpg);
}

.james-icon {
  background-image: url(../images/headshots/james.jpg);
}

.hat-icon {
  background-image: url(../images/silly/hats/hat1.png);
}

.eye-icon {
  background-image: url(../images/silly/eyes/eye1.png);
}

.nose-icon {
  background-image: url(../images/silly/noses/nose1.png);
}

.mouth-icon {
  background-image: url(../images/silly/mouths/mouth2.png);
}

.hair-icon {
  background-image: url(../images/silly/hair/hair1.png);
}

.hand-icon {
  background-image: url(../images/silly/hands/hand1.png);
}

.accessories-icon {
  background-image: url(../images/silly/accessories/accessory1.png);
}

.part-container {
  height: 37vh;
  width: 95%;
  border: 1px solid black;
}

.part-container li {
  list-style: none;
  display: inline-block;
}

.part {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
  margin: 2px;
}

.main-content {
  padding-left: 100px;
}

.gallery {
  height: 85vh;
  /*width: 80%;*/
  /*background: grey;*/
}

.gallery2 {
  height: 120px;
}

.gallery-cell {
  width: 100%;
  /* full width */
  height: 100%;
  /* height of gallery */
  text-align: center;
}

.gallery-cell:before {
  display: block;
  text-align: center;
}

.flickity-page-dots {
  bottom: 20px;
}

.tuber1 {
  background: url(../images/tubers/potato.png) center no-repeat;
  background-size: contain;
}

.tuber2 {
  background: url(../images/tubers/yam.png) center no-repeat;
  background-size: contain;
}

.tuber3 {
  background: url(../images/tubers/jicama.png) center no-repeat;
  background-size: contain;
}

.tuber4 {
  background: url(../images/tubers/taro.png) center no-repeat;
  background-size: contain;
}

.tuber5 {
  background: url(../images/tubers/artichoke.jpg) center no-repeat;
  background-size: contain;
}

.button {
  padding: 10px;
  border: 1px solid black;
}

.drop-anchor {
  position: relative;
}

#drop-container {
  position: absolute;
  top: 0px;
  right: 70px;
  left: 70px;
  height: 80vh;
  z-index: 9;
}
