article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* End of setup styles */
.ryan-icon {
  background-image: url(../images/headshots/ryan.jpg);
}

.drew-icon {
  background-image: url(../images/headshots/drew.jpg);
}

.kristen-icon {
  background-image: url(../images/headshots/kristen.jpg);
}

.christopher-icon {
  background-image: url(../images/headshots/christopher.jpg);
}

.adam-icon {
  background-image: url(../images/headshots/adam.jpg);
}

.adeel-icon {
  background-image: url(../images/headshots/adeel.jpg);
}

.alex-icon {
  background-image: url(../images/headshots/alex.jpg);
}

.amanda-icon {
  background-image: url(../images/headshots/amanda.jpg);
}

.anya-icon {
  background-image: url(../images/headshots/anya.jpg);
}

.christinaf-icon {
  background-image: url(../images/headshots/christinaf.jpg);
}

.christinag-icon {
  background-image: url(../images/headshots/christinag.jpg);
}

.evan-icon {
  background-image: url(../images/headshots/evan.jpg);
}

.francis-icon {
  background-image: url(../images/headshots/francis.jpg);
}

.ivy-icon {
  background-image: url(../images/headshots/ivy.jpg);
}

.james-icon {
  background-image: url(../images/headshots/james.jpg);
}

.jeanne-icon {
  background-image: url(../images/headshots/jeanne.jpg);
}

.jessicaj-icon {
  background-image: url(../images/headshots/jessicaj.jpg);
}

.jessicat-icon {
  background-image: url(../images/headshots/jessicat2.jpg);
}

.jo-icon {
  background-image: url(../images/headshots/jo.jpg);
}

.joanne-icon {
  background-image: url(../images/headshots/joanne.jpg);
}

.john-icon {
  background-image: url(../images/headshots/john.jpg);
}

.laura-icon {
  background-image: url(../images/headshots/laura.jpg);
}

.hat-icon {
  background-image: url(../images/silly/hats/hat1.png);
}

.eye-icon {
  background-image: url(../images/silly/eyes/eye1.png);
}

.nose-icon {
  background-image: url(../images/silly/noses/nose1.png);
}

.mouth-icon {
  background-image: url(../images/silly/mouths/mouth2.png);
}

.hair-icon {
  background-image: url(../images/silly/hair/hair1.png);
}

.facial-hair-icon {
  background-image: url(../images/silly/facial-hair/facial-hair1.png);
}

.hand-icon {
  background-image: url(../images/silly/hands/hand1.png);
}

.accessories-icon {
  background-image: url(../images/silly/accessories/accessory1.png);
}

.drew-reye {
  background-image: url(../images/drew/drew-eye-right.png);
}

.drew-leye {
  background-image: url(../images/drew/drew-eye-left.png);
}

.drew-nose {
  background-image: url(../images/drew/drew-nose.png);
}

.drew-beard {
  background-image: url(../images/drew/drew-beard.png);
}

.kristen-reye {
  background-image: url(../images/kristen/kristen-eye-right.png);
}

.kristen-leye {
  background-image: url(../images/kristen/kristen-eye-left.png);
}

.kristen-nose {
  background-image: url(../images/kristen/kristen-nose.png);
}

.christopher-reye {
  background-image: url(../images/christopher/christopher-eye-right.png);
}

.christopher-leye {
  background-image: url(../images/christopher/christopher-eye-left.png);
}

.christopher-nose {
  background-image: url(../images/christopher/christopher-nose.png);
}

.christopher-mouth {
  background-image: url(../images/christopher/christopher-mouth.png);
}

.adam-reye {
  background-image: url(../images/adam/adam-right-eye.png);
}

.adam-leye {
  background-image: url(../images/adam/adam-left-eye.png);
}

.adam-nose {
  background-image: url(../images/adam/adam-nose.png);
}

.adam-mouth {
  background-image: url(../images/adam/adam-mouth.png);
}

.adeel-eye {
  background-image: url(../images/adeel/adeel-eyes.png);
}

.adeel-nose {
  background-image: url(../images/adeel/adeel-nose.png);
}

.adeel-mouth {
  background-image: url(../images/adeel/adeel-mouth.png);
}

.alex-reye {
  background-image: url(../images/alex/alex-right-eye.png);
}

.alex-leye {
  background-image: url(../images/alex/alex-left-eye.png);
}

.alex-nose {
  background-image: url(../images/alex/alex-nose.png);
}

.alex-mouth {
  background-image: url(../images/alex/alex-mouth.png);
}

.amanda-reye {
  background-image: url(../images/amanda/amanda-right-eye.png);
}

.amanda-leye {
  background-image: url(../images/amanda/amanda-left-eye.png);
}

.amanda-nose {
  background-image: url(../images/amanda/amanda-nose.png);
}

.amanda-mouth {
  background-image: url(../images/amanda/amanda-mouth.png);
}

.anya-reye {
  background-image: url(../images/anya/anya-right-eye.png);
}

.anya-leye {
  background-image: url(../images/anya/anya-left-eye.png);
}

.anya-nose {
  background-image: url(../images/anya/anya-nose.png);
}

.anya-mouth {
  background-image: url(../images/anya/anya-mouth.png);
}

.christinaf-reye {
  background-image: url(../images/christinaf/christinaf-right-eye.png);
}

.christinaf-leye {
  background-image: url(../images/christinaf/christinaf-left-eye.png);
}

.christinaf-nose {
  background-image: url(../images/christinaf/christinaf-nose.png);
}

.christinaf-mouth {
  background-image: url(../images/christinaf/christinaf-mouth.png);
}

.christinag-reye {
  background-image: url(../images/christinag/christinag-eye-right.png);
}

.christinag-leye {
  background-image: url(../images/christinag/christinag-eye-left.png);
}

.christinag-nose {
  background-image: url(../images/christinag/christinag-nose.png);
}

.christinag-mouth {
  background-image: url(../images/christinag/christinag-mouth.png);
}

.evan-reye {
  background-image: url(../images/evan/evan-right-eye.png);
}

.evan-leye {
  background-image: url(../images/evan/evan-left-eye.png);
}

.evan-nose {
  background-image: url(../images/evan/evan-nose.png);
}

.evan-mouth {
  background-image: url(../images/evan/evan-mouth.png);
}

.francis-reye {
  background-image: url(../images/francis/francis-right-eye.png);
}

.francis-leye {
  background-image: url(../images/francis/francis-left-eye.png);
}

.francis-nose {
  background-image: url(../images/francis/francis-nose.png);
}

.francis-mouth {
  background-image: url(../images/francis/francis-mouth.png);
}

.ivy-reye {
  background-image: url(../images/ivy/ivy-right-eye.png);
}

.ivy-leye {
  background-image: url(../images/ivy/ivy-left-eye.png);
}

.ivy-nose {
  background-image: url(../images/ivy/ivy-nose.png);
}

.ivy-mouth {
  background-image: url(../images/ivy/ivy-mouth.png);
}

.james-reye {
  background-image: url(../images/james/james-eye-right.png);
}

.james-leye {
  background-image: url(../images/james/james-eye-left.png);
}

.james-nose {
  background-image: url(../images/james/james-nose.png);
}

.james-mouth {
  background-image: url(../images/james/james-mouth.png);
}

.james-hair {
  background-image: url(../images/james/james-hair.png);
}

.jeanne-reye {
  background-image: url(../images/jeanne/jeanne-right-eye.png);
}

.jeanne-leye {
  background-image: url(../images/jeanne/jeanne-left-eye.png);
}

.jeanne-nose {
  background-image: url(../images/jeanne/jeanne-nose.png);
}

.jeanne-mouth {
  background-image: url(../images/jeanne/jeanne-mouth.png);
}

.jessicaj-reye {
  background-image: url(../images/jessicaj/jessicaj-right-eye.png);
}

.jessicaj-leye {
  background-image: url(../images/jessicaj/jessicaj-left-eye.png);
}

.jessicaj-nose {
  background-image: url(../images/jessicaj/jessicaj-nose.png);
}

.jessicaj-mouth {
  background-image: url(../images/jessicaj/jessicaj-mouth.png);
}

.jessicat-reye {
  background-image: url(../images/jessicat/jessicat-right-eye.png);
}

.jessicat-leye {
  background-image: url(../images/jessicat/jessicat-left-eye.png);
}

.jessicat-nose {
  background-image: url(../images/jessicat/jessicat-nose.png);
}

.jessicat-mouth {
  background-image: url(../images/jessicat/jessicat-mouth.png);
}

.jo-reye {
  background-image: url(../images/jo/jo-right-eye.png);
}

.jo-leye {
  background-image: url(../images/jo/jo-left-eye.png);
}

.jo-nose {
  background-image: url(../images/jo/jo-nose.png);
}

.jo-mouth {
  background-image: url(../images/jo/jo-mouth.png);
}

.joanne-eye {
  background-image: url(../images/joanne/joanne-eyes.png);
}

.joanne-nose {
  background-image: url(../images/joanne/joanne-nose.png);
}

.joanne-mouth {
  background-image: url(../images/joanne/joanne-mouth.png);
}

.john-reye {
  background-image: url(../images/john/john-right-eye.png);
}

.john-leye {
  background-image: url(../images/john/john-left-eye.png);
}

.john-nose {
  background-image: url(../images/john/john-nose.png);
}

.john-mouth {
  background-image: url(../images/john/john-mouth.png);
}

.laura-reye {
  background-image: url(../images/laura/laura-right-eye.png);
}

.laura-leye {
  background-image: url(../images/laura/laura-left-eye.png);
}

.laura-nose {
  background-image: url(../images/laura/laura-nose.png);
}

.laura-mouth {
  background-image: url(../images/laura/laura-mouth.png);
}

.lee-reye {
  background-image: url(../images/lee/lee-right-eye.png);
}

.lee-leye {
  background-image: url(../images/lee/lee-left-eye.png);
}

.lee-nose {
  background-image: url(../images/lee/lee-nose.png);
}

.lee-mouth {
  background-image: url(../images/lee/lee-mouth.png);
}

.hat1 {
  background-image: url(../images/silly/hats/hat1.png);
}

.hat2 {
  background-image: url(../images/silly/hats/hat2.png);
}

.hat3 {
  background-image: url(../images/silly/hats/hat3.png);
}

.hat4 {
  background-image: url(../images/silly/hats/hat4.png);
}

.hat5 {
  background-image: url(../images/silly/hats/hat5.png);
}

.hat6 {
  background-image: url(../images/silly/hats/hat6.png);
}

.eye1 {
  background-image: url(../images/silly/eyes/eye1.png);
}

.eye2 {
  background-image: url(../images/silly/eyes/eye2.png);
}

.eye3 {
  background-image: url(../images/silly/eyes/eye3.png);
}

.eye4 {
  background-image: url(../images/silly/eyes/eye4.png);
}

.eye5 {
  background-image: url(../images/silly/eyes/eye5.png);
}

.eye6 {
  background-image: url(../images/silly/eyes/eye6.png);
}

.nose1 {
  background-image: url(../images/silly/noses/nose1.png);
}

.nose2 {
  background-image: url(../images/silly/noses/nose2.png);
}

.nose3 {
  background-image: url(../images/silly/noses/nose3.png);
}

.nose4 {
  background-image: url(../images/silly/noses/nose4.png);
}

.nose5 {
  background-image: url(../images/silly/noses/nose5.png);
}

.nose6 {
  background-image: url(../images/silly/noses/nose6.png);
}

.mouth1 {
  background-image: url(../images/silly/mouths/mouth1.png);
}

.mouth2 {
  background-image: url(../images/silly/mouths/mouth2.png);
}

.mouth3 {
  background-image: url(../images/silly/mouths/mouth3.png);
}

.mouth4 {
  background-image: url(../images/silly/mouths/mouth4.png);
}

.mouth5 {
  background-image: url(../images/silly/mouths/mouth5.png);
}

.mouth6 {
  background-image: url(../images/silly/mouths/mouth6.png);
}

.hair1 {
  background-image: url(../images/silly/hair/hair1.png);
}

.hair2 {
  background-image: url(../images/silly/hair/hair2.png);
}

.hair3 {
  background-image: url(../images/silly/hair/hair3.png);
}

.hair4 {
  background-image: url(../images/silly/hair/hair4.png);
}

.hair5 {
  background-image: url(../images/silly/hair/hair5.png);
}

.hair6 {
  background-image: url(../images/silly/hair/hair6.png);
}

.hand1 {
  background-image: url(../images/silly/hands/hand1.png);
}

.hand2 {
  background-image: url(../images/silly/hands/hand2.png);
}

.hand3 {
  background-image: url(../images/silly/hands/hand3.png);
}

.hand4 {
  background-image: url(../images/silly/hands/hand4.png);
}

.hand5 {
  background-image: url(../images/silly/hands/hand5.png);
}

.hand6 {
  background-image: url(../images/silly/hands/hand6.png);
}

.accessories1 {
  background-image: url(../images/silly/accessories/accessory1.png);
}

.accessories2 {
  background-image: url(../images/silly/accessories/accessory2.png);
}

.accessories3 {
  background-image: url(../images/silly/accessories/accessory3.png);
}

.accessories4 {
  background-image: url(../images/silly/accessories/accessory4.png);
}

.accessories5 {
  background-image: url(../images/silly/accessories/accessory5.png);
}

.accessories6 {
  background-image: url(../images/silly/accessories/accessory6.png);
}

.tuber1 {
  background: url(../images/tubers/potato.png) center no-repeat;
  background-size: contain;
}

.tuber2 {
  background: url(../images/tubers/yam.png) center no-repeat;
  background-size: contain;
}

.tuber3 {
  background: url(../images/tubers/jicama.png) center no-repeat;
  background-size: contain;
}

.tuber4 {
  background: url(../images/tubers/taro.png) center no-repeat;
  background-size: contain;
}

.tuber5 {
  background: url(../images/tubers/artichoke.png) center no-repeat;
  background-size: contain;
}

.tuber6 {
  background: url(../images/tubers/ubeyam.png) center no-repeat;
  background-size: contain;
}

.tuber7 {
  background: url(../images/tubers/cassava.png) center no-repeat;
  background-size: contain;
}

.tuber8 {
  background: url(../images/tubers/potato2.png) center no-repeat;
  background-size: contain;
}

body {
  background: url(../images/white-grunge.jpg);
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  display: inline-block;
  margin-top: 8px;
}

.page-title {
  text-align: center;
}

.hy-logo {
  display: inline-block;
  height: 48px;
  position: relative;
  top: -10px;
  padding-right: 10px;
}

.person-icon {
  border-radius: 50%;
}

.menu h2 {
  text-transform: uppercase;
  font-size: 16px;
}

.icon {
  width: 100px;
  height: 100px;
  margin: 5px 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.part-container {
  height: 35vh;
  width: 95%;
  border: 1px solid black;
}

.part-container li {
  list-style: none;
  display: inline-block;
}

.part {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
  margin: 2px;
}

.gallery {
  height: 82vh;
  /*width: 80%;*/
  /*background: grey;*/
}

.gallery2 {
  height: 120px;
}

.gallery-cell {
  width: 100%;
  /* full width */
  height: 100%;
  /* height of gallery */
  text-align: center;
}

.gallery-cell:before {
  display: block;
  text-align: center;
}

.flickity-page-dots {
  bottom: 20px;
}

.main-content {
  padding-left: 100px;
}

.button {
  padding: 0 10px;
  z-index: 20;
}

.reset {
  font-size: 20px;
  position: relative;
  top: -10px;
}

.trash {
  font-size: 50px;
}

.drop-anchor {
  position: relative;
}

#drop-container {
  position: absolute;
  top: 0px;
  right: 70px;
  left: 70px;
  height: 80vh;
  z-index: 9;
}
